App {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 612px;
    margin: auto;
    margin-bottom: 2rem;
}

main > section,
main > article,
section > article {
    padding-top: 2rem;
}

main > header {
    text-align: center;
    padding: 0;
}
